.app-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0px 4px 24px rgba(4, 20, 58, 0.04);
  height: 80vh;
}

.col-right {
  position: relative;
  /* this is to position the copy to clipboard icon */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--default-margin-bottom);
}

label {
  font-size: var(--text);
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.app-container .form-line input,
.app-container .form-line textarea,
.app-container .form-line select {
  margin: 0px;
  margin-bottom: var(--default-margin-bottom);
  padding: 0px;
  font-size: var(--text);
  width: 100%; /* Set the width to 100% for mobile screens */
  max-width: 100%; /* Ensure elements don't exceed the container width */
  box-sizing: border-box; /* Include padding and border in the total width */
}
.form-line input {
  border-radius: 0.25rem;
  line-height: 2.5rem;
}

textarea {
  width: 100%;
  max-width: 100%; /* Ensure elements don't exceed the container width */
  box-sizing: border-box; /* Include padding and border in the total width */
  min-height: 50dvh;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  border: none;
  overflow-y: scroll;
  resize: none;
}

#domain-input-line {
  display: flex;
  justify-content: flex-start;
}

#domain-input-line select {
  width: min-content;
}

#domain-input {
  width: min-content;
  border-radius: 0;
}

#at-span {
  background-color: var(--light-gray);
  border: 1px solid var(--gray);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.25rem;
  font-size: var(--text);
  display: flex;
  align-items: center;
  margin-bottom: var(--default-margin-bottom);
}

#tld {
  border-radius: 0 0.25rem 0.25rem 0;
  max-width: 100%;
}

@media (max-width: 37.5rem) {
  .app-container {
    grid-template-columns: 1fr;
    padding-inline: 2px;
    height: auto;
    margin-bottom: 0;
  }

  .col-left {
    /* padding-inline: 10px; */
  }

  input,
  textarea,
  button {
    width: 100%;
  }
}
